<div class="footer">
  <div class="info">
    <span>Storck-Vis @ 2022</span>
  </div>
  <div class="logo">
    <a href="https://home.cern/" title="CERN">
        <img src="../../assets/images/logo.svg" height="60px" width="60px">
    </a>
  </div>
  <div class="links">
    <span><a href="https://storck.docs.cern.ch/" target="_blank">Documentation</a></span>
    <span><a [href]="storckUrl" target="_blank">Storck</a></span>
  </div>
</div>
