@import '../../assets/css/colors';

.workspaces-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .cards-container {
    flex-grow: 1;
    overflow-y: auto;
  }

  .new-workspace-form {
    margin-top: 12px;
    border-top: 1px solid $gray-40;
    padding-top: 8px;

    .input {
      height: 60px;
      overflow: hidden;
    }
  }
}

.workspace {
  height: 90px;
  margin: 6px;
  text-align: center;
  user-select: none;

  &:hover {
    cursor: pointer;
    background-color: $gray-20;
  }

  .card-content-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .card-content {
      flex-grow: 1;
    }
  }

  mat-card-subtitle {
    margin-bottom: 0 !important;
  }

  &.active {
    color: white;
    background-color: $gray-80;

    mat-card-subtitle {
      color: $gray-20;
    }
  }
}
