<h1 mat-dialog-title>
  Add a new member
  <button class="close-button" mat-icon-button [mat-dialog-close]="true"><mat-icon>close</mat-icon></button>
</h1>
<div mat-dialog-content>
  <h3>List of the workspace users:</h3>
  <mat-list>
    <mat-list-item *ngFor="let user of workspace.users">
      <mat-icon mat-list-icon>person</mat-icon>
      <div mat-line>{{user.username}}</div>
    </mat-list-item>
  </mat-list>
  <div class="row align-items-center">
    <mat-form-field appearance="fill" class="col-8">
      <mat-label>New member</mat-label>
      <input matInput [(ngModel)]="newMemberInput" [placeholder]="'username'"/>
    </mat-form-field>
    <button class="col-4" [mat-dialog-close]="true" mat-flat-button color="primary" (click)="addMember()">Add</button>
  </div>
</div>
