@import '../../../assets/css/colors';

.file-view {
    margin: 3px;
    line-height: 25px;
}

.filename {
  font-weight: bold;
}

.download-button {
  margin-left: auto;
}

.date {
  margin: 0 6px;
}

.metadata-container {
  border-top: 2px solid black;
  padding-left: 19px;
}

mat-chip-list {
  margin: 8px 8px 8px 12px;
  display: inline-block;

}

.metadata-key {
  font-weight: bold;
  margin: 6px;
}

.version-icon {
  margin-right: 8px;
}

.active-version {
  background-color: $gray-20;
}
