@import '../../assets/css/colors';

.files-list {
    display: flex;
    flex-direction: column;
}

.separator {
  font-weight: bold;
}

.path {
  padding: 0 6px;
  font-weight: bold;
  color: $blue-100;
}

.file-group {
  margin: 5px 0;
  background-color: $gray-20;
}
