<h1 mat-dialog-title>
  Your credentials
  <button class="close-button" mat-icon-button [mat-dialog-close]="true"><mat-icon>close</mat-icon></button>
  </h1>
<div mat-dialog-content>
  <span>Here are your environment variables:
    <a href="https://storck.docs.cern.ch/python_client.html#preparing-credentials" target="_blank">(more info)</a></span>
  <div class="copy-area">
    export STORCK_USER_TOKEN="<b>{{ data.userToken }}</b>"<br/>
    export STORCK_WORKSPACE_TOKEN="<b>{{ data.workspaceToken }}</b>"<br/>
    export STORCK_API_HOST="<b>{{ data.apiUrl | slice:0:-4}}</b>"<br/>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-flat-button color="primary" (click)="copy()"><mat-icon class="copy-icon">content_copy</mat-icon>Copy to clipboard</button>
</div>
