<div class="metadata-rules">
  <div class="row align-items-center justify-content-center header">
    <div class="col-4 text-center title"><mat-icon>extension</mat-icon>Schemas</div>
    <div class="col-5 filetype-input">
      <button *ngIf="newFileType === undefined" mat-flat-button color="primary" class="w-100" (click)="addSchema()">Add</button>
      <mat-form-field *ngIf="newFileType !== undefined" appearance="fill" class="w-100">
        <mat-label>Filetype</mat-label>
        <input matInput [placeholder]="'Filetype'" autoFocus [(ngModel)]="newFileType" />
      </mat-form-field>
    </div>
    <div class="col-3">
      <button [disabled]="!canSave" mat-flat-button color="primary" class="w-100" (click)="saveSchema()">Save</button>
    </div>
  </div>
  <div class="filetype-container">
    <mat-chip-list>
      <mat-chip *ngFor="let schema of schemas" [selected]="activeSchema === schema" (click)="setActiveSchema(schema)">
        <mat-icon>text_snippet</mat-icon><span>{{schema.filetype}}</span></mat-chip>
    </mat-chip-list>
  </div>
</div>
<div class="editor" [ngStyle]="{'display': activeSchema || newFileType !== undefined ? 'block' : 'none'}">
  <json-editor [options]="options" [data]="activeSchema ? activeSchema.schema : {}" (change)="editorChange($event)"></json-editor>
</div>

