@import '../../assets/css/colors';

.filter-label {
  margin-top: 21px;
  font-weight: 500;
}

.metadata-checkbox {
  text-align: center;
}

.metadata-container {
  margin: 0 -30px;
  border-top: 2px solid black;
}
.metadata-row:nth-child(odd) {
  background-color: #f0f0f0;
}

.metadata-row {
  padding: 8px 30px 0 30px;
  border-bottom: 2px solid black;
}

.new-metadata-row {
  padding-top: 8px;
}
