<div>
  <div class="row align-items-center">
    <mat-form-field appearance="fill" class="col-12">
      <mat-label>Search</mat-label>
      <input matInput [placeholder]="'Name'" [(ngModel)]="filename" (ngModelChange)="filterChange()"/>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <span class="filter-label">Date</span>
  <div class="row align-items-center">
    <mat-form-field appearance="fill" class="col-5">
      <mat-label>From</mat-label>
      <input matInput [matDatepicker]="fromPicker" [(ngModel)]="dateFrom" (ngModelChange)="filterChange()">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
      <mat-datepicker #fromPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-5">
      <mat-label>To</mat-label>
      <input matInput [matDatepicker]="toPicker" [(ngModel)]="dateTo" (ngModelChange)="filterChange()">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
      <mat-datepicker #toPicker></mat-datepicker>
    </mat-form-field>
    <div class="col-2">
      <button mat-icon-button (click)="dateFrom=null; dateTo=null;"><mat-icon mat-list-icon>close</mat-icon></button>
    </div>
  </div>
  <div class="filter-label">Metadata</div>
  <div class="metadata-container">
    <div *ngFor="let data of metadata" class="metadata-row">
      <div class="row align-items-center">
        <mat-form-field appearance="fill" class="col-5">
          <mat-label>Key</mat-label>
          <input matInput [placeholder]="'Key'" [(ngModel)]="data.key" (ngModelChange)="filterChange()"/>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-5">
          <mat-label>Value</mat-label>
          <input matInput [placeholder]="'Value'" [(ngModel)]="data.value" (ngModelChange)="filterChange()"/>
        </mat-form-field>
        <div class="col-2">
          <button mat-icon-button (click)="deleteMetadata(data.key)"><mat-icon mat-list-icon>close</mat-icon></button>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-5 metadata-checkbox">
          <mat-checkbox [(ngModel)]="data.active" (ngModelChange)="filterChange()">Enabled</mat-checkbox>
        </div>
        <mat-form-field appearance="fill" class="col-5">
          <mat-label>Comparison</mat-label>
          <mat-select [formControl]="data.comparisonSelect" (valueChange)="filterChange()">
            <mat-option *ngFor="let comparison of comparisons" [value]="comparison.value">{{comparison.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row align-items-center new-metadata-row">
    <mat-form-field appearance="fill" class="col-6">
      <mat-label>Key</mat-label>
      <input matInput [placeholder]="'Key'" [(ngModel)]="newKey" (focusout)="addMetadata($event)" name="newMetadataKey" #newKeyInput/>
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-6">
      <mat-label>Value</mat-label>
      <input matInput [placeholder]="'Value'" [(ngModel)]="newValue" (focusout)="addMetadata($event)" name="newMetadataValue" (keyup.enter)="addMetadata($event)" />
    </mat-form-field>
  </div>
  <div class="row align-items-center">
    <mat-form-field appearance="fill" class="col-12">
      <mat-label>Comparison</mat-label>
      <mat-select [formControl]="comparisonSelect" name="newMetadataComparison" (focusout)="addMetadata($event)" (closed)="addMetadata($event)">
        <mat-option *ngFor="let comparison of comparisons" [value]="comparison.value">{{comparison.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
