@import '../../assets/css/colors';

.logo {
  margin-right: 32px;
}

.action-panel {
  border-right: 5px solid $gray-80;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tab-group {
  overflow: hidden;
  height: 100%;
}

:host ::ng-deep .mat-tab-body-wrapper {
  height: 100%;
}

mat-tab-group {
  height: 100%;
}

.tab {
  height: 100%;
  padding: 10px 30px;
  overflow-y: auto;
}

.tab-icon {
  margin-right: 8px;
}

.logo-header {
  display: flex;
  align-items: center;
  border-bottom: 2px solid $gray-80;
  padding: 10px calc(10px +  4%);
  margin-bottom: 20px;
  gap: 8px;

  .right-side {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    border-left: 2px solid $gray-40;
    padding-left: 8px;
    gap: 6px;

    .logo-header-button {
      display: flex;
      align-items: center;
      justify-content: center;
      .logo-header-label {
        flex-grow: 1;
      }
    }

    .workspace {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      span {
        margin-right: 6px;
        font-weight: 500;
      }
    }

    button {
      width: 100%;
    }
  }

}
