<div class="action-panel">
  <div class="logo-header">
    <img class="logo" src="../../assets/images/storck-logo.png" height="60px" />
    <div class="right-side">
      <button mat-raised-button color="primary" (click)="showCredentials()">
        <div class="logo-header-button">
          <span class="logo-header-label">Show credentials</span>
          <mat-icon>key</mat-icon>
        </div>
      </button>
      <button mat-button color="primary" (click)="openTab('Workspaces')">
        <div class="logo-header-button">
          <span class="logo-header-label">{{store.workspace?.name}}</span>
          <mat-icon>workspaces</mat-icon>
        </div>
      </button>
    </div>
  </div>
  <div class="tab-group">
    <mat-tab-group mat-align-tabs="center" [(selectedIndex)]="selectedIndex" (selectedIndexChange)="changeTab($event)">
      <mat-tab *ngFor="let tab of tabs">
        <ng-template mat-tab-label>
          <ng-container [ngSwitch]="tab">
            <mat-icon *ngSwitchCase="'Workspaces'" class="tab-icon">workspaces</mat-icon>
            <mat-icon *ngSwitchCase="'Directories'" class="tab-icon">folder_copy</mat-icon>
            <mat-icon *ngSwitchCase="'Filters'" class="tab-icon">tune</mat-icon>
          </ng-container>
          {{tab}}
        </ng-template>
        <div class="tab" [ngSwitch]="tab">
          <workspaces *ngSwitchCase="'Workspaces'"></workspaces>
          <directories-list *ngSwitchCase="'Directories'" [path]="''"></directories-list>
          <filter *ngSwitchCase="'Filters'"></filter>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
